* {
    margin: 0;
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
}

textarea,
code {
    font-family: "Iosevka Web", "Courier New", Courier, monospace;
}

code {
    color: black;
    background: #ffe4e4;
    border-radius: 5px;
    padding: 0.05rem 0.2rem;
}

header,
footer {
    bottom: 0px;
    width: 100%;
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
}

.preline-whitespace {
    white-space: pre-line;
}

.form-control {
    height: auto;
}
