* {
    margin: 0;
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
}

textarea,
code {
    font-family: "Iosevka Web", "Courier New", Courier, monospace;
}

code {
    color: black;
    background: #ffe4e4;
    border-radius: 5px;
    padding: 0.05rem 0.2rem;
}

header,
footer {
    bottom: 0px;
    width: 100%;
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
}

h1 {
    font-weight: 900;
}
h2,
h3 {
    font-weight: 700;
}

label {
    user-select: none;
}

.preline-whitespace {
    white-space: pre-line;
}

.form-control {
    height: auto;
}

.floating-container {
    position: relative;
}

.floating-bottom-right {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

#inputHeader {
    display: flex;
    align-content: space-between;
}

#inputHeader > select {
    max-width: max-content;
}

#inputHeader > .input-group {
    padding-bottom: 0.3rem;
}
