textarea,
input[type="number"],
code {
    font-family: "Iosevka Web", "Courier New", Courier, monospace;
}

.form-control {
    height: auto;
}

code {
    color: black;
    background: #ffe4e4;
    border-radius: 4px;
    padding: 0.05rem 0.2rem;
    margin: 0 0.05rem;
}

footer {
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.preline-whitespace {
    white-space: pre-line;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
